services:
  sender:
    build:
      dockerfile: Dockerfile
      context: .
    image: ubuntu-xdp
    container_name: sender
    command: [ "sh", "-c", "sleep infinity" ]
    volumes:
      - ./video.mp4:/app/video.mp4
      - ./sender/:/app/sender/
    networks:
      xdp_net:
        ipv4_address: 172.22.0.100

  receiver:
    build:
      dockerfile: Dockerfile
      context: .
    image: ubuntu-xdp
    container_name: receiver
    command: [ "sh", "-c", "sleep infinity" ]
    volumes:
      - ./video.mp4:/app/video.mp4
      - ./receiver/:/app/receiver/
      - ./compare.cpp:/app/compare.cpp
    networks:
      xdp_net:
        ipv4_address: 172.22.0.101

networks:
  xdp_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.22.0.0/16
